/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// fonts
$font-family-sans-serif: Inter, sans-serif !default;

// colors
$body-bg: #eff5f3 !default;
$body-color: #004c45 !default;
$link-color: #1C324A !default;
$selection-bg: #134674 !default;

// headings
$presentation-heading-font: Inter, sans-serif !default;

